body, html {
	margin: 0;
	padding: 0;
	width: 500px;
    height: 330px;
}
body {
	background: #222 
}
.calc-main { /* center / center */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -170px;
	margin-left: -250px;
}
.calc-small {
	margin-left: -130px;
}